In [34]:
import pandas as pd
import numpy as np
from icecream import ic
'''
 - (1) pivot(), pd.pivot_table()
    90도 회전(rotation)
    컬럼 -> 인덱스로 변환

 - (2) stack(), unstack()
    stack이 (위에서 아래로 길게, 높게)쌓는 것이며
    unstack은 쌓은 것을 옆으로 늘어놓는 것

 - (3) melt()

 - (4) wide_to_long()

 - (5) pd.crosstab()

자주 쓰는 건 pivot, melt
'''

'\n - (1) pivot(), pd.pivot_table()\n    90도 회전(rotation)\n    컬럼 -> 인덱스로 변환\n\n - (2) stack(), unstack()\n    stack이 (위에서 아래로 길게, 높게)쌓는 것이며\n    unstack은 쌓은 것을 옆으로 늘어놓는 것\n\n - (3) melt()\n\n - (4) wide_to_long()\n\n - (5) pd.crosstab()\n\n자주 쓰는 건 pivot, melt\n'

In [47]:
# 30 다음 객체를 customer_id 를 인덱스로하고 product_code 를 컬럼으로, purchare_amount 를 값으로, 재구성하시오
df = pd.DataFrame({"customer_id":['kim','lee','park','song','yoon','kang','tak','ryu','jang'],
               "product_code":['com','phone','tv','com','phone','tv','com','phone','tv'],
               "grade":['A','A','A','A','A','A','B','B','B'],
               "purchase_amount":[30,10,0,40,15,30,0,0,10]})
ic(df)
df = df.pivot(index="customer_id", columns="product_code", values="purchase_amount")
ic(df)

ic| df:   customer_id product_code grade  purchase_amount
        0         kim          com     A               30
        1         lee        phone     A               10
        2        park           tv     A                0
        3        song          com     A               40
        4        yoon        phone     A               15
        5        kang           tv     A               30
        6         tak          com     B                0
        7         ryu        phone     B                0
        8        jang           tv     B               10
ic| df: product_code   com  phone    tv
        customer_id
        jang           NaN    NaN  10.0
        kang           NaN    NaN  30.0
        kim           30.0    NaN   NaN
        lee            NaN   10.0   NaN
        park           NaN    NaN   0.0
        ryu            NaN    0.0   NaN
        song          40.0    NaN   NaN
        tak            0.0    NaN   NaN
        yoon           NaN   15.0   NaN

product_code   com  phone    tv
customer_id
jang           NaN    NaN  10.0
kang           NaN    NaN  30.0
kim           30.0    NaN   NaN
lee            NaN   10.0   NaN
park           NaN    NaN   0.0
ryu            NaN    0.0   NaN
song          40.0    NaN   NaN
tak            0.0    NaN   NaN
yoon           NaN   15.0   NaN

In [43]:
# 31. 다음 객체를 customer_id, grade를 인덱스로 하고 product_code를 컬럼으로, purchase_amount를 값으로 하시오
df = pd.DataFrame({"customer_id":['kim','lee','park','song','yoon','kang','tak','ryu','jang'],
               "product_code":['com','phone','tv','com','phone','tv','com','phone','tv'],
               "grade":['A','A','A','A','A','A','B','B','B'],
               "purchase_amount":[30,10,0,40,15,30,0,0,10]})
df = df.pivot(index=["customer_id","grade"],  columns="product_code", values="purchase_amount")
ic(df)

ic| df: product_code        com  phone    tv
        customer_id grade
        jang        B       NaN    NaN  10.0
        kang        A       NaN    NaN  30.0
        kim         A      30.0    NaN   NaN
        lee         A       NaN   10.0   NaN
        park        A       NaN    NaN   0.0
        ryu         B       NaN    0.0   NaN
        song        A      40.0    NaN   NaN
        tak         B       0.0    NaN   NaN
        yoon        A       NaN   15.0   NaN

product_code        com  phone    tv
customer_id grade
jang        B       NaN    NaN  10.0
kang        A       NaN    NaN  30.0
kim         A      30.0    NaN   NaN
lee         A       NaN   10.0   NaN
park        A       NaN    NaN   0.0
ryu         B       NaN    0.0   NaN
song        A      40.0    NaN   NaN
tak         B       0.0    NaN   NaN
yoon        A       NaN   15.0   NaN

In [106]:
# 32
df = pd.DataFrame(np.arange(16).reshape(4,4),
                index = pd.MultiIndex.from_tuples([('kim','2019'),('kim','2020'),('lee','2019'),('lee','2020')]),
                columns = ['com','phone','tv','notebook'])
ic(df)
# ic(type(df.stack())) pandas.core.series.Series
# 칼럼의 level은 1개 밖에 없으므로 stack(level=-1) 을 별도로 명기하지 않아도 됩니다.
df = df.stack(level=-1, dropna=True)
ic(df)
df = df.unstack(level=0)
ic(df.unstack())
'''
결측값이 있는 데이터셋을 stack() 할 때 결측값을 제거할지(dropna=True),
아니면 결측값을 NaN으로 유지할지(dropna=False) 설정
unstack(level=-1), unstack(level=0), unstack(level=1) 별로
어떤 level이 칼럼으로 이동해서 unstack() 되는지 체크
'''
df = df.reset_index()
df.rename(columns={'level_0':'year','level_1':'customer_id'}, inplace=True)
ic(df)

ic| df:           com  phone  tv  notebook
        kim 2019    0      1   2         3
            2020    4      5   6         7
        lee 2019    8      9  10        11
            2020   12     13  14        15
ic| df: kim  2019  com          0
                   phone        1
                   tv           2
                   notebook     3
             2020  com          4
                   phone        5
                   tv           6
                   notebook     7
        lee  2019  com          8
                   phone        9
                   tv          10
                   notebook    11
             2020  com         12
                   phone       13
                   tv          14
                   notebook    15
        dtype: int32
ic| df.unstack():      kim                   lee
                       com phone tv notebook com phone  tv notebook
                  2019   0     1  2        3   8     9  10       11
                  2020   4     5  6        7  12    13  14       15
ic| df:    year customer_id  kim  lee
        0  2019         com    0    8
        1  2019       phone    1    9
        2  2019          tv    2   10
        3  2019    notebook    3   11
        4  2020         com    4   12
        5  2020       phone    5   13
        6  2020          tv    6   14
        7  2020    notebook    7   15

   year customer_id  kim  lee
0  2019         com    0    8
1  2019       phone    1    9
2  2019          tv    2   10
3  2019    notebook    3   11
4  2020         com    4   12
5  2020       phone    5   13
6  2020          tv    6   14
7  2020    notebook    7   15

In [113]:
'''
melt() 는 ID 변수를 기준으로 원래 데이터셋에 있던 여러개의 칼럼 이름을
'variable' 칼럼에 위에서 아래로 길게 쌓아놓고,
'value' 칼럼에 ID와 variable에 해당하는 값을
넣어주는 식으로 데이터를 재구조화
'''
df = pd.DataFrame({"customer_id":['kim','kim','lee','lee'],
               "product_code":['com','phone','tv','tab'],
               "purchase_count":[1,2,3,4],
               "purchase_amount":[100,200,300,400]})
ic(df)

# (1) pd.melt(data, id_vars=['id1', 'id2', ...]) 를 사용한 데이터 재구조화
pd.melt(df, id_vars=['customer_id', 'product_code'])

# (2) pd.melt() 의 variable 이름, value 이름 부여하기 : var_name, value_name
pd.melt(df, id_vars=['customer_id', 'product_code'],
        var_name='purchase_code', value_name='purchase_value')

ic| df:   customer_id product_code  purchase_count  purchase_amount
        0         kim          com               1              100
        1         kim        phone               2              200
        2         lee           tv               3              300
        3         lee          tab               4              400

  customer_id product_code    purchase_code  purchase_value
0         kim          com   purchase_count               1
1         kim        phone   purchase_count               2
2         lee           tv   purchase_count               3
3         lee          tab   purchase_count               4
4         kim          com  purchase_amount             100
5         kim        phone  purchase_amount             200
6         lee           tv  purchase_amount             300
7         lee          tab  purchase_amount             400

In [132]:
np.random.seed(10)
df = pd.DataFrame({"Class 1":{0:"A",1:"B",2:"C"},
                  "Class 2":{0:"D",1:"E",2:"F"},
                  "Score 1":{0:"2.5",1:"1.2",2:"0.7"},
                  "Score 2":{0:"3.2",1:"1.3",2:"0.1"},
                   "value": dict(zip(range(3),np.random.randn(3)))})
df["seq"] = df.index
ic(df)
'''
pd.wide_to_long() 함수를 써서 데이터를 재구조화
wide_to_long()은 pivot() 이나 stack() 과는 다르게
"칼럼 이름의 앞부분"과 나머지 "칼럼 이름의 뒷부분"을 구분해서,
칼럼 이름의 앞부분을 칼럼 이름으로,
칼럼 이름의 나머지 뒷부분을 행(row)의 원소로 해서
세로로 길게(long~) 쌓아 줍니다.
pd.widt_to_long() 함수를 한번 사용해서
가로로 넓은 데이터(wide~)를 세로로 길게(long~) 재구조화 하시오.
'''
df = pd.wide_to_long(df, stubnames=['Class','Score'],i='seq',j='hakgi',sep=' ')

# wide_to_long(데이터프레임, stubnames={})
# stub는 그루터기로 전체값에서 일부분의 값을 의미한다.
# 반복되는 Class와 Store라는 값만 실행한다.
# df, ["Class-1", "Class-2"],
# i는 DF의 인덱스로 정한 값을 입력한다.
# j는 stubname에서 컬럼명으로 정의한 나머지 부분은 코딩하는 사람의 임의로 정한다.
# sep는 구분자로 stubname과 임의의 컬럼명 사이를 구분하는 패턴이다.
# sep에서 '' 이면, 구분자가 없는 상태가 되고, 예제처럼 띄어쓰기로 하려면
# ' ' 반드시 스페이스바를 한 번 클릭해야 한다.
ic(df)

ic| df:   Class 1 Class 2 Score 1 Score 2     value  seq
        0       A       D     2.5     3.2  1.331587    0
        1       B       E     1.2     1.3  0.715279    1
        2       C       F     0.7     0.1 -1.545400    2
ic| df:               value Class Score
        seq hakgi
        0   1      1.331587     A   2.5
        1   1      0.715279     B   1.2
        2   1     -1.545400     C   0.7
        0   2      1.331587     D   3.2
        1   2      0.715279     E   1.3
        2   2     -1.545400     F   0.1

              value Class Score
seq hakgi
0   1      1.331587     A   2.5
1   1      0.715279     B   1.2
2   1     -1.545400     C   0.7
0   2      1.331587     D   3.2
1   2      0.715279     E   1.3
2   2     -1.545400     F   0.1

In [ ]:
df = pd.DataFrame({'학생 ID': ["kim", 'kim', 'kim', 'lee', 'lee', 'park'],
                   "1학기 학점": ["A", "A", "A", "B", "B", "B"],
                   "2학기 학점": ["D", "D", "D", "C", "C", "D"]})

ic(df)
# (1) 교차표(contingency table, frequency table) 만들기 : pd.crosstab(index, columns)
pd.crosstab(df['1학기 학점'], df['2학기 학점'])

# (2) Multi-index, Multi-level로 교차표 만들기 : pd.crosstab([id1, id2], [col1, col2])
pd.crosstab(df['학생 ID'],[df['1학기 학점'],df['2학기 학점']])

# (3) 교차표의 행 이름, 열 이름 부여 : pd.crosstab(rownames=['xx'], colnames=['aa'])
pd.crosstab(df['학생 ID'], [df['1학기 학점'],df['2학기 학점']], rownames=['학생 이름'], colnames=['1학기 학점','2학기 학점'])

# (4) 교차표의 행 합, 열 합 추가하기 : pd.crosstab(margins=True)
pd.crosstab(df['학생 ID'], [df['1학기 학점'], df['2학기 학점']], margins=True)

# (5) 구성비율로 교차표 만들기 : pd.crosstab(normalize=True)
pd.crosstab(index=df['학생 ID'], columns=[df['1학기 학점'], df['2학기 학점']], normalize=True)

In [ ]:
'''
pandas.crosstab
pandas.crosstab(
    index,
    columns,
    values=None,
    rownames=None,
    colnames=None,
    aggfunc=None,
    margins=False,
    margins_name='All',
    dropna=True,
    normalize=False)
    [source]

Compute a simple cross tabulation of two (or more) factors.
By default computes a frequency table of the factors
unless an array of values and an aggregation function are passed.

Parameters
indexarray-like, Series, or list of arrays/Series
Values to group by in the rows.

columnsarray-like, Series, or list of arrays/Series
Values to group by in the columns.

valuesarray-like, optional
Array of values to aggregate according to the factors.
Requires aggfunc be specified.

rownamessequence, default None
If passed, must match number of row arrays passed.

colnamessequence, default None
If passed, must match number of column arrays passed.

aggfuncfunction, optional
If specified, requires values be specified as well.

marginsbool, default False
Add row/column margins (subtotals).

margins_namestr, default ‘All’
Name of the row/column that will contain the totals when margins is True.

dropnabool, default True
Do not include columns whose entries are all NaN.

normalizebool, {‘all’, ‘index’, ‘columns’}, or {0,1}, default False
Normalize by dividing all values by the sum of values.

If passed ‘all’ or True, will normalize over all values.

If passed ‘index’ will normalize over each row.

If passed ‘columns’ will normalize over each column.

If margins is True, will also normalize margin values.

Returns
DataFrame
Cross tabulation of the data.
'''